*{margin: 0;padding: 0;}

body{
    background-color: rgba(255, 217, 0, 0.815);
}
main{
    padding: 15px;
    width: 90%;
    overflow: hidden;
    /* border: 1px solid; */
    position: relative;

}
main > .titre{
    /* float: left; */
    /* text-align: left; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    font-family: sans-serif;
    padding-bottom: 15px;
    text-shadow: 0 0 5px ;

}

img{width: 100%;height: 300px;}
.panorama{
    display: flex;
    /* clear: both; */
    width: 100%;
    /* border: 1px solid red; */
}
main .carrosel{
    flex: 1 0 100%;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    margin-right: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* border: 1px solid; */
    box-shadow: 0 0 3px black;
    /* transition: all 1s; */
}
main .carrosel:hover{
    transition: all 1s;
    box-shadow: 0 0 15px black;

}
main .carrosel .tit_{
    width: 100%;
    /* height: 50px; */
    background-color: #fff;
    text-align-last: left;
    padding: 15px;
}

main .carrosel .tit_ .titre2{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}
main .carrosel .tit_ .des{
    font-size: 20px;
    text-transform: capitalize;
    font-family: serif;

}
.left,.right{
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-12px);
    color: rgb(250, 250, 250);
    border-radius: 100%;
    background-color: red;
    width: 50px;
    cursor: pointer;

}
.right{right: 0;}

button{
    width: 100%;
    font-size: 35px;
    font-family: sans-serif;
    background-color: #f51d1dea;
    font-weight: bold;
    text-transform: capitalize;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    color: white;
    padding: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}